.image {
  position: relative;
  height: 200px;
}

.image:hover, .image:focus-visible {
  z-index: 1,
}

.title {
  border: '4px solid white';
}

.imageSrc {
  position: 'absolute';
  /* left: 0,
  right: 0,
  top: 0,
  bottom: 0, */
  background-size: 'cover';
  background-position: 'center 40%';
}