.createForm {
    width: 30vw;
}

.formItem {
    margin-top: 3vh;
}
 
.descriptionPanel {
    width: 43vw;
}

#ratings {
    text-align: center;
    width: 23vw;
}

#postsSection {
    margin-left: 10vw;
    margin-right: 10vw;
}

.gameIcon {
    border-radius: 50%;
    width: 18vw;
    border: 5px solid white;
}