.personal-profile {
    background-color: white;
}

.cover-image {
    height: 40vh;
    width: 100%;
}

.userName {
    padding-left: 6vw;
    color: black;
}

.userBio {
    padding-top: 2vh;
    padding-left: 10vw;
    padding-right: 10vw;
    color: black;
}

#Container {
    display: flex;
    align-items: center;
}

.personal-picture {
    margin-top: -15vh;
    margin-left: 5vw;
    margin-bottom: 2vh;
    width: 15vw;
    border-radius: 50%;
    border: 5px solid red;
}

#AppBar {
    margin-top: 5vh;
}

.personal-navbar {
    padding-right: 3vw;
}

.logout-button {
    margin-left: 5vw;
}