.personal-profile {
    background-color: white;
}

.cover-image {
    height: 40vh;
    width: 100%;
}

.userName {
    color: black;
}

.userBio {
    padding-top: 2vh;
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: center;
    color: black;
}

.personal-picture {
    margin-top: -150px;
    width: 300px;
    border-radius: 50%;
    border: 5px solid red;
}

#AppBar {
    margin-top: 5vh;
}

.personal-navbar {
    padding-right: 3vw;
}

.logout-button {
    margin-left: 5vw;
}