  .input {
    width: 280px;
  }
  
  .input .MuiInput-underline:after {
    border-color: darkred;
  }
  
  .input .MuiFormLabel-root,
  .input .MuiFormLabel-root.Mui-focused {
    color: darkred;
  }