.game .MuiGrid-root {
    text-align: center;
}

.gameInfo {
    width: 280px;
    font-size: 20px;
    margin-left: 130px;
    color: darkorange;
}
  
.MuiButton-root.game__remove-button {
    margin-left: 240px;
    background-color: #181212;
}


.game__remove-button-grid {
    line-height: 5;
}